/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(252, 252, 252);
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

#projects {
    margin: 1rem;
    display: flex;
    flex-direction: column; /* Add this line to stack the h2 and the nav vertically */
    align-items: center;
    justify-content: center;
}

#projects h2 {
    text-align: center;
    margin-bottom: 1rem;
}


/* Navigation Styles */
#main-nav {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    
}


#main_content h2 {
    text-align: center;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
#list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#list li a{
    text-decoration:none;
    color: black;
}
#main-nav .assignment-box {
    flex: 1 1 300px; /* Ensure flex items take equal space and wrap as needed */
    margin-bottom: 1rem; /* Optional: Add spacing between rows */
}

.assignment-box {
    background-color: #9fd3e7;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    width: 200px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */

}

.assignment-box img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}

.assignment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.assignment-content h3 {
    margin-top: 0;
}

.assignment-content p {
    margin: 0;
}



/* Media Queries */
@media (max-width: 768px) {
    #list {
        flex-direction: column;
        align-items: center;
    }

    .assignment-box {
        width: 100%;
    }
}

@media (min-width: 769px) {
    #list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .assignment-box {
        flex: 1;
        max-width: calc(50% - 1rem); /* Two boxes per row */
    }
}

