* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(../images/estate.jpg);
    background-size: cover;
}

header {
    background-color: gray;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    color: #3D52A0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
nav ul li {
    background-color: #3D52A0;
    padding: 5px;
    border-radius: 25px;
    outline-style:dashed;
    outline-width: 2px;
    outline-color: darkgray;
}

.auth a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.search-section {
    text-align: center;
    margin: 20px 0;
}

.search-section input {
    padding: 10px;
    width: 300px;
}

.search-section button {
    padding: 10px;
}

.featured-listings {
    text-align: center;
    margin: 20px 0;
}

.featured-listings h2 {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #3D52A0;
}

.listing-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.listing-box {
    width: 400px;
    height: 300px;
    
}
.listing-box img {
    width: 100%;
    height:100%;
    object-fit: contain;
    display: block;
}

.why-choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.why-choose-us h2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center; /* Align the text vertically in the center */
    width: max-content;
    background-color: #3D52A0;
    font-size: 24px;
    margin-bottom: 20px;
}

.choose-box {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.choose-box p {
    margin-bottom: 10px;
    padding:20px;
    font-size: 30px;
    font-weight: bold;
}
#hamburger {
    padding-left: 0px;
    margin: 0;
}
#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  
}
#hamburger a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
.hidden {
    display: none;
}


#toggle-nav div {
    background-color: #333;
    margin: 5px 0;
    cursor: pointer;
}
.hidden-small {
    display:none;
  }



/* Styles for mobile screens */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    /* Hamburger menu styles */
    #hamburger {
        display: block;
    }
    .hidden {
        display: none;
    }
}

/* Styles for larger screens */
@media (min-width: 601px) {
    #hamburger {
        display: none;
    }
    
    .hidden-small {
        display:flex;
    }

}
